/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target=<&dsi1>;

        __overlay__ {
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;

            port {
                dsi1_out_port: endpoint {
                    remote-endpoint = <&panel_dsi_in1>;
                };
            };

            display1: panel@0 {
                compatible = "startek,kd055hdfia001";
                reg=<0>;
                backlight = <&iris_backlight>;
                vdd-supply = <&vdd_3v3_reg>;
                power-supply = <&vdd_3v3_reg>;
                reset-gpios = <&gpio 17 1>;
                port {
                    panel_dsi_in1: endpoint {
                        remote-endpoint = <&dsi1_out_port>;
                    };
                };
            };
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            iris_backlight: iris_backlight {
                compatible = "pwm-backlight";
                brightness-levels = <0 6 8 12 16 24 32 40 48 64 96 128 160 192 224 255>;
                default-brightness-level = <64>;
                pwms = <&pwm 0 200000 0>;
                power-supply = <&vdd_3v3_reg>;
                status = "okay";
            };
        };
    };
    
    fragment@2 {
        target = <&pwm>;
        frag1: __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&pwm_pins>;
            assigned-clock-rates = <1000000>;
            status = "okay";
        };
    };

    fragment@3 {
        target = <&gpio>;
        __overlay__ {
            pwm_pins: pwm_pins {
                brcm,pins = <12>; // rpi40pin = PIN No. 32
                brcm,function = <4>; // ALT0 = 4 ,  ALT5 = 2 
            };
        };
    };

    fragment@4 {
      target = <&i2c0>;
        __overlay__ {
          #address-cells = <1>;
          #size-cells = <0>;
          status = "okay";

          //gt911: gt911@14 {
          gt911: gt911@5d {
            status = "okay";
            compatible = "goodix,gt911";
            //reg = <0x14>;
            reg = <0x5d>;
            pinctrl-names = "default";
            pinctrl-0 = <&goodix_pins>;
            interrupt-parent = <&gpio>;
            interrupts = <23 2>; // high-to-low edge triggered
            irq-gpios = <&gpio 23 0>;
            reset-gpios = <&gpio 24 0>;
            touchscreen-size-x = <720>;
            touchscreen-size-y = <1280>;
          };
        };
    };

    fragment@5 {
      target = <&gpio>;
      __overlay__ {
        goodix_pins: goodix_pins {
          brcm,pins = <23 24>; // interrupt and reset
          brcm,function = <0 0>; // in
          brcm,pull = <2 2>; // pull-up
        };
      };
    };

    fragment@6 {
      target = <&i2c0mux>;
      __overlay__ {
          pinctrl-0 = <&i2c0_gpio44>;
      };
    };

};
